<div class="search-container">
  <mat-form-field>
    <input type="search" matInput placeholder="Enter your search query" [formControl]="searchQuery" required>
    <mat-error *ngIf="searchQuery.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>

<div class="result-container" *ngIf="paginatedGiffs.length > 0">
  <div class="giphys-container">
    <ng-container *ngFor="let giff of paginatedGiffs">
      <img [src]="giff.url">
    </ng-container>
  </div>
  <div class="paginator-container">
    <mat-paginator [length]="pagination.total_count" [pageSize]="size" [pageIndex]="page" [pageSizeOptions]="[10, 15, 25]" (page)="getData($event)">
    </mat-paginator>
  </div>
</div>
